.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

/* img{ */
/* background: pink; */
/* padding: 0px; */
/* margin: 0px; */
/* } */

.navBar .nav-menu {
  /* background: wheat; */
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  margin: 20px 70px;
  cursor: pointer;
}

.navBar .nav-connect {
  padding: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navBar .nav-connect:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
