.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.4);
}

img {
  padding: 0px;
  margin: 0px;
}

.navBar .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  margin: 20px 70px;
  cursor: pointer;
}

.navBar .nav-connect {
  padding: 20px;
  margin-right: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navBar .nav-connect:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img{
  display: flex;
  margin: auto;
}

.anchor-link{
  text-decoration: none;
  color: aliceblue;
}
.nav-mob-open,.nav-mob-close{
  display: none;
}




@media (max-width:1100px) {
  .nav-connect{
    display: none;
  }
}

@media (max-width:930px) {
  .navBar{
    width: 100%;
    justify-content: start;
  }

  .nav-connect{
    display: none;
  }

  .nav-mob-open{
    display: block;
    position: fixed;
    right: 10px;
    z-index: 10;
  }

  .nav-mob-close{
    display: block;
    position: relative;
    top: 20px;
    left: 220px;
    width: 30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    /*justify-content: center;
    */background: rgba(0, 0, 0, 0.9);
    top: 0;
    gap: 30px;
    width: 350px;
    height: 100%;
    z-index: 2;
    -webkit-transition: right 0.9s;
    -moz-transition: right 0.9s;
    -ms-transition: right 0.9s;
    -o-transition: right 0.9s;
    transition: right 0.9s;
    right: -420px;
}
  .nav-menu li{
    font-size: 30px;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }
}